{% extends 'index.html'%}
{% block body %}

<body>
<h1 align="center"><u>Signup</u></h1>
<form id="form1" name="form1" method="post" action="contractorregister1">
  <table width="200" border="1"  class="table table-dark table-striped" id="table">
    <tr>
      <th scope="row">First Name </th>
      <td><label>
        <input type="text" name="textfield" class="form-control"  required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last Name </th>
      <td><label>
        <input type="text" name="textfield2" class="form-control" required pattern="[A-Z a-z.]{1,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><label>
        <input name="radiobutton" type="radio" value="male" checked />
      male
      <input name="radiobutton" type="radio" value="female" />
      female
      <input name="radiobutton" type="radio" value="other" required />
      other</label></td>
    </tr>
    <tr>
      <th scope="row">Age</th>

      <td><label>
        <input type="number" name="textfield3" class="form-control" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield4" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" />
      </label></td>
    </tr>
      <th scope="row">Phone</th>
      <td><label>
        <input type="text" name="textfield5" class="form-control" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield6" class="form-control" pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield7" pattern="[A-Z a-z.]{3,25}" required class="form-control" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield8" class="form-control" required pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">User Name </th>
      <td><label>
        <input type="text" name="textfield9" class="form-control" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="text" name="textfield10" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  />
      </label></td>
    </tr>
	<tr>
      <th scope="row">Service</th>
      <td><label>
        <select name="select" class="form-select">
          <option>plumber</option>
          <option>electrician</option>
          <option>painter</option>
          <option>carpenter</option>
          <option>roofer</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td><label>
        <input type="text" name="textfield12" class="form-control" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td><label>
        <input type="text" name="textfield13" class="form-control" required />
      </label></td>
    </tr>
	<tr>
      <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" class="btn btn-secondary" value="Register" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{%endblock%}