{% extends 'adminindex.html'%}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="jovaccancy">
  <table width="600" border="1"  class="table table-dark table-striped" id="table">
    <!--<tr>-->
      <!--<th colspan="3" scope="row">Type-->
        <!--<label>-->
        <!--<select name="select">-->
          <!--<option {% if type=="contractor" %} selected {% endif %}>contractor</option>-->
          <!--<option {% if type=="customer" %}selected {% endif %}>customer</option>-->
        <!--</select>-->
      <!---->
      <!--<input type="submit" name="Submit" value="Search" />-->
      <!--</label></th>-->
    <!--</tr>-->
    <tr>
      <th scope="row">Job</th>
      <td>Description</td>
      <td>Date</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i[1]}}</th>
      <td>&nbsp;{{i[2]}}</td>
      <td>{{i[4]}}</td>
    </tr>
    {% endfor %}


    </tr>
  </table>
</form>
</body>
{%endblock%}
