<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'contractorindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="updatestatus#about">
  <table width="200" border="1" class="table table-dark table-striped" id="table">
    <tr align="top" >
      <th  align="top">Status

      <div align="top">  <select name="select">
          <!--<option>pending</option>-->
          {% if data[5] == "accepted" %}
            <option>started</option>
          {% endif %}
          {%  if data[5] == "accepted" or data[5] == "started" %}
           <option>ongoing</option>
          {% endif %}
          {%  if data[5] == "accepted" or data[5] == "started" or data[5] == "ongoing" %}
          <option>completed</option>
          {% endif %}
      </select></div></th></tr><tr>
    <th>



        <br><input type="submit" name="Submit" value="Send" />
        </label></th>
    </tr>
  </table>
</form>
</body>
{%endblock%}
<!--</html>-->
